# Diretórios virtuais do Python
.venv/

# Arquivos temporários de upload e download de arquivos
.tmp.driveupload/
.tmp.drivedownload/

# Arquivos executáveis e temporários do Windows e outras plataformas
*.bat               

# Arquivos binários e de compilação do Python
__pycache__/ 